.title {
	height: 40px;
	border-bottom: 1px solid #ddd;
	strong {
		color: #1890ff;
		font-size: 16px;
	}
}
.home-tabs {
	.ant-tabs-bar {
		margin-bottom: 0;
	}
	.ant-tabs-nav .ant-tabs-tab {
		margin: 0;
		padding: 5px;
		font-size: 14px;
		line-height: 20px;
	}
	.ant-tabs-tabpane {
		overflow-y: auto;
	}
}
.advice-textarea {
	border: 1px solid #ddd;
	border-radius: 4px;
	.search-keywords {
		text-align: right;
		padding: 6px;
		border-bottom: 1px solid #ddd;
		background-color: #f1f1f1;
		.ant-input-search {
			width: 200px;
		}
	}
	.advice-con {
		position: relative;
		overflow-y: auto;
		padding: 10px;
		p + p {
			margin-top: 10px;
		}
	}
}